---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Descripción" id="desc">
  {/*<Icon slot="eyebrow" name="logomark" class="size-32" />*/}
  <div class="text-container text-justify lg:w-3/4 md:w-3/4 mx-auto">
    <p>
    La infraestructura cloud-edge es un servicio diseñado para el flujo de cantidades masivas de datos. Esto por definición impone riesgos de: (i) privacidad, ya que muchos datos que circulan pueden ser datos personales según la definición de la Regulación General de Protección de Datos (RGPD); y, (ii) seguridad, ya que delincuentes pueden intentar robar datos personales o datos industriales con fines maliciosos a través de la inyección de malware en el ecosistema cloud-edge. En ambos casos el ecosistema cloud-edge está a expuestos a riesgos de privacidad y seguridad. En particular, los usuarios están expuestos a los riesgos asociados a un mal uso de sus datos personales. El proyecto A2-PRIVCOMP definirá y desarrollará soluciones tecnológicas que contribuyan a las áreas transversales de privacidad, seguridad y gestión del dato en el ecosistema cloud-edge. Gran parte de estas soluciones estarán instanciadas en algoritmos, modelos y tecnologías de Machine Learning. En concreto, el proyecto plantea cinco contribuciones tecnológicas concretas. Primero, uso de Machine Learning para la detección y mitigación de los riesgos asociados a la distribución y gestión de malware en el ecosistema cloud-edge público. Segundo, desarrollo de una plataforma para gobernanza del dato con garantías de privacidad para servicios cloud-edge. Tercero, modelos de generación de datos sintéticos para soluciones de machine learning con garantías de privacidad en el entorno edge-cloud. Cuarto, metodología para medir la exposición de datos personales en aplicaciones populares en el ecosistema cloud-edge. Quinto, metodología para medir la exposición de datos personales en aplicaciones populares en el ecosistema cloud-edge. El impacto perseguido a medio y largo plazo consiste en incrementar la confianza de los usuarios y empresas en los servicios, aplicaciones y plataformas que ejecutan sus servicios sobre la infraestructura cloud-edge. 
    </p>
  </div>
  <div class="text-container  md:w-3/4 lg:w-3/4 mx-auto">
    
    <p class="mt-2">
      <b class="gradient-text">Paquete 1: </b> Coordinación, diseminación e impacto.
    </p>
    <p>
      <b class="gradient-text">Paquete 2: </b> Machine Learning para la detección y mitigación de distribución y control de malware que genere riesgo para la privacidad y seguridad.
    </p>
    <p>
      <b class="gradient-text">Paquete 3: </b> Software para la gobernanza del dato con garantías de privacidad para servicios cloud-edge
    </p>
    <p>
      <b class="gradient-text">Paquete 4: </b> Generación de datos sintéticos para  soluciones machine learning con garantías de privacidad para la infraestructura cloud-edge
    </p>
    <p>
      <b class="gradient-text">Paquete 5: </b> Metodología para medir la exposición y valor de datos personales en aplicaciones cloud de gran popularidad
    </p>
  </div>
</ContentSection>
