---
import ContentSection from "~/components/content-section.astro";

const publicaciones = [
  {
    name: "",
    authors: "",
    data: "",
    abstract: ""
  }
]
---

<ContentSection title="Publicaciones" id="publicaciones">
  <span>Aquí se mostrarán las publicaciones asociadas al proyecto.</span>
  <div class="sm:w-3/4 lg:w-3/4 mx-auto">
    {publicaciones.map((publicacion, index) => (
      <div class="mb-4 text-left">
        <h4 class="gradient-text mt-0"><b>{publicacion.name}</b></h4>
        <p>{publicacion.authors}</p>
        <p>{publicacion.data}</p>
        <div class="mt-2">
            {publicacion.abstract}
        </div>
      </div>
    ))}
  </div>
  
</ContentSection>



